@charset "UTF-8";

.Touche-Bold {
	font-family: Touche-Bold;
	font-weight: normal;
	font-style: normal;
}
.Touche-Regular {
	font-family: Touche-Regular;
	font-weight: normal;
	font-style: normal;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Touche-Regular;
  font-size: 8px;
}

main {
  display: flex;
	flex-direction: column;
}

section {
  /* background-color: yellow; */
  margin: 0 5%;
}


#nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
	height: 15%;
  font-size: 3rem;
  box-sizing: border-box;
  /* background-color: yellow; */
}

#nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: nowrap;
  align-items: center;
  width: 90%;
  height: 100%;
  /* padding: 8rem; */
  /* background-color: orange; */
}

#logo-desktop {
	font-family: Touche-Bold;
}

#logo-mobile {
	display: none;
}

#works-link {
	margin-right: 4rem;
}

a#works-link:hover {
	text-decoration: underline;
}

a#about-link:hover {
	text-decoration: underline;
}

a#works-link:active {
	text-decoration: underline;
}

a#about-link:active {
	text-decoration: underline;
}

a {
	color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#about-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#monogram-section {
	display: flex;
	align-items: center;
	width: 30%;
}

#monogram-container-left {
	position: absolute;
	display: flex;
	height: 70%;
	font-size: 20rem;
	align-items: center;
	font-family: Touche-Bold;
	color: #d2232a;
}

#about-section {
	display: flex;
	align-items: center;
	width: 60%;
	font-size: 3rem;
}

.about-text {
	line-height: 4rem;
}

#contact-container {
	display: flex;
	/* justify-content: space-between; */
	margin-top: 8rem;
	font-size: 1.5rem;
	color: #d2232a;
}

#email-content {
	display: flex;
	flex-direction: column;
}

#cv-content {
	display: flex;
	margin-left: 4rem;
	flex-direction: column;
}

a#download {
	color: #d2232a;
}

a#download:hover {
	text-decoration: underline;
}

a#email {
	color: #d2232a;
}

a#email:hover {
	text-decoration: underline;
}

.flex { display: flex }
.flex.row { flex-direction: row }
.flex.column { flex-direction: column }
.justify-content-center { justify-content: center }
.align-content-center { align-items: center }
