@charset "UTF-8";

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 8px;
}

.nav {
  height: 40px;
  /* background-color: pink; */
  padding: 16px;
}

.logo {
  font-weight: 400;
  font-size: 3em;
  margin: 0;
  /* position: relative; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: color-change 12s infinite alternate;
  -moz-animation: color-change 12s infinite alternate;
  -o-animation: color-change 12s infinite alternate;
  -ms-animation: color-change 12s infinite alternate;
  animation: color-change 12s infinite alternate;
}

@-webkit-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@-moz-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@-ms-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@-o-keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}
@keyframes color-change {
  0% { color: #1A06FE; }
  25% { color: #FFADFE; }
  50% { color: #F6D4D4; }
  75% { color: #B570FA; }
  100% { color: #79FEF0; }
}

@media only screen and (min-width: 768px) {
  .nav {
    height: 40px;
    padding: 30px 135px;
    /* background-color: blue; */
  }

  .logo {
    font-weight: 400;
    font-size: 3em;
    /* margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
}

.flex { display: flex }
.flex.row { flex-direction: row }
.flex.column { flex-direction: column }
.justify-content-center { justify-content: center }
.align-content-center { align-content: center }