@charset "UTF-8";

@import url("//hello.myfonts.net/count/393131");
@font-face {font-family: 'Touche-Bold';src: url('webfonts/393131_0_0.eot');src: url('webfonts/393131_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/393131_0_0.woff2') format('woff2'),url('webfonts/393131_0_0.woff') format('woff'),url('webfonts/393131_0_0.ttf') format('truetype');}
@font-face {font-family: 'Touche-Regular';src: url('webfonts/393131_1_0.eot');src: url('webfonts/393131_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/393131_1_0.woff2') format('woff2'),url('webfonts/393131_1_0.woff') format('woff'),url('webfonts/393131_1_0.ttf') format('truetype');}

.Touche-Bold {
	font-family: Touche-Bold;
	font-weight: normal;
	font-style: normal;
}
.Touche-Regular {
	font-family: Touche-Regular;
	font-weight: normal;
	font-style: normal;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Touche-Regular';
  font-size: 8px;
}

main {
  /* background-color: blue; */
}

section {
  /* background-color: yellow; */
  margin: 0 5%;
}


#nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
	height: 15%;
  font-size: 3rem;
  box-sizing: border-box;
  /* background-color: yellow; */
}

#nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: nowrap;
  align-items: center;
  width: 90%;
  height: 100%;
  /* padding: 8rem; */
  /* background-color: orange; */
}

#logo-desktop {
	font-family: 'Touche-Bold';
}

#logo-mobile {
	display: none;
}

#works-link {
	margin-right: 4rem;
}

a#works-link:hover {
	text-decoration: underline;
}

a#about-link:hover {
	text-decoration: underline;
}

a#works-link:active {
	text-decoration: underline;
}

a#about-link:active {
	text-decoration: underline;
}

a {
	color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#index-section {
	display: flex;
	align-items: center;
	width: 100%;
    height: 70%;
    overflow-x: scroll;
}

#monogram-container-left {
	position: absolute;
	display: flex;
	height: 70%;
	font-size: 20rem;
	align-items: center;
	padding: 0 8rem;
	font-family: Touche-Bold;
}

#project-window {
	/* overflow: scroll;
	width: 100%; */
    height: 100%;
    cursor: pointer;
}

#project-section {
	width: auto;
	height: 100%;
	-webkit-transition: margin-left 0.1s linear;
    -khtml-transition: margin-left 0.1s linear;
    -moz-transition: margin-left 0.1s linear;
    -ms-transition: margin-left 0.1s linear;
    transition: margin-left 0.1s linear;
}

.project-image {
	/* z-index: 100; */
	height: 100%;
	padding: 0 4rem;
	background-color: white;
}

.img-link {
    z-index: 100;
    height: 100%;
}

#footer-section {
	height: 15%;
	font-family: 'Touche-Bold';
	font-size: 4rem;
}

.title {
	display: none;
}

.flex { display: flex }
.flex.row { flex-direction: row }
.flex.column { flex-direction: column }
.justify-content-center { justify-content: center }
.align-content-center { align-items: center }

@media only screen and (max-width: 600px) {
  body {
		overflow: scroll;
  }

	main {
		display: block;
	}

	#nav {
	  font-size: 3rem;
	}

	#nav-content {
		width: 100%;
		padding: 0 4rem;
	}

	#logo-desktop {
		display: none;
	}

	#logo-mobile {
		display: block;
		font-family: 'Touche-Bold';
	}

	#works-link {
    margin-right: 2rem;
	}

	#project-container {
		display: block;
	}

	.project-title {
    font-size: 4rem;
    margin-bottom: 1rem;
	}

	.left-section {
		padding: 0 5%;
	}

	#index-section {
		height: 30%;
		overflow-x: visible;
	}

	#project-section {
		display: block;
	}

	#monogram-container-left {
		display: none;
	}

	a.img-link {
		margin-left: 0vw;
		display: contents;
	}
	.title {
		display: block;
		text-align: center;
    font-size: 4rem;
    padding: 4rem;
		font-family: 'Touche-Bold';
	}
}
